:root {
  
  
  

  --bg-primary: #0c0b0c;
  --bg-hover: #131e2f;
  --bg-secundary: #01a5b159;

  --text-primary: #c5ccd8;
  --subtitle: #01a5b1;
  --text-secundary: #ffa726 ;
  --text-light: #aabcd0;





  }

